@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

:root {
	--primary-color: #e71a7e;
}

* {
	color: #333;
}

#header {
	background-color: var(--primary-color);
	color: white;
}

#title {
	font-weight: 600;
	font-size: 32px;
	display: inline-block;
}

.section-title {
	font-weight: 600;
	color: #333;
}

.hero-title {
	font-weight: 600;
	font-size: 40px;
	color: white;
}

.card-img-top {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}

.nav-link {
	font-weight: 600 !important;
}

.fa-cart-shopping {
	position: relative;
	display: inline-block;
}

.fa-cart-shopping .badge {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background: red;
	color: white;
}

.cart-window {

	border-radius: 5px;
	margin: 5px;
	padding: 25px;
	display: flex;
	justify-content: left;
	align-items: center;
	background-color: #d5d5d5;

}

.cart-img {

	margin-right: 10px;
	width: 100px;
	height: 100px;
	border-radius: 5px;
}

.btn-primary {

	background-color: var(--primary-color);
}
